{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}ショップ{% endblock %}</title>
    <link href="{% static "css/foundation.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>
<body>
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script>
    $(document).foundation();
</script>


<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">スイーツ男子の<b>CHOCOLATE SHOP</b></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <a lole="button" class="button" href="/ec/cart_list/">カートをみる</a>
        <a lole="button" class="button" href="/ec/cart_reset/">カートを空にする</a>
        <a lole="button" class="button" href="/ec/order/">注文する</a>
    </div>
</div>
<br>
<div class="row">
    <div class="small-2 columns">
        <ul class="vertical menu">
            <li>
                <a href="#"><b>カカオの割合</b></a>
                <ul class="nested vertical menu">
                    <li><a href="/ec/cacao_list/90/100">90%以上</a></li>
                    <li><a href="/ec/cacao_list/80/90">80-90%</a></li>
                    <li><a href="/ec/cacao_list/70/80">70-80%</a></li>
                    <li><a href="/ec/cacao_list/0/70">70%以下</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="small-10 columns">
      {% for country in countrys %}
          <h1>{{ country.name }}</h1>
          <img src="../../media/{{ country.image }}" alt="" width="200" height="200" border="0" />
          <a href="/ec/product_list/{{ country.id }}">チョコレート一覧</a>
            <h1>{{ country.parsent }}</h1>
      {% endfor %}
    </div>
</div>

</body>
</html>
